body{
    background-color: black;
    color: white;
    font-family: 'Montserrat',sans-serif;
}

@import "componentes/variables";

@import "paginas/home";

@import "componentes/navbar";

@import "paginas/nosotros";

@import "paginas/equipos";

@import "paginas/requisitos";

@import "paginas/contacto";

@import "componentes/footer";














