

.mainrequisitos{
    
    color: white;
    padding: 10px;
    background-image: url(../images/banner-3.jpg);
     

}

.mainrequisitos {
    h2{
        color: white;
        padding: 2px;
        text-align: center;
    }

    hr{
        color: white;
    }

    ul{
        li{
            color: white;
            padding: 2px
        }
        }
    }






